@model LostDogApp.ViewModels.AccountViewModels.EditAccountViewModel

@{
    ViewData["Title"] = "Edytuj profil";
}

<h2>@ViewData["Title"]</h2>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <div>@error.ErrorMessage</div>
        }
    </div>
}


<form asp-action="EditAccount" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="UserName">Nazwa uzytkownika</label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger" />
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger" />
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber">Telefon kontatkowy</label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger" />
    </div>

    <button type="submit" class="btn btn-primary mt-2">Zapisz zmiany</button>
    <a asp-action="Index" class="btn btn-secondary mt-2">Anuluj</a>
</form>
